body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f1f6;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 300px;
  margin: 0;
  align-items: center;
}

.item__link {
  color: #a3a0a9;
  font-weight: 400;
  text-decoration: none;
  transition: 0.5s;
  position: relative;
  display: block;
}

.item__link::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #3498db;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.item__link:hover {
  color: black;
}

.item__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.btn {
  color: white;
  background-color: #9be3e2;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  padding: 10px 15px;
}

.navbar-buttons__login {
  background-color: transparent;
  border: none;
  font-weight: 500;
  margin-right: 25px;
  font-size: 14px;
  color: black;
  cursor: pointer;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.offer__header {
  font-size: 70px;
  line-height: 65px;
  font-weight: bold;
  margin-bottom: 0;
}

.under-header {
  margin-top: 50px;
}
.offer__text {
  color: #a3a0a9;
  line-height: 25px;
  font-size: 18px;
  max-width: 400px;
}
.offer .btn {
  padding: 10px 25px;
}
.background-header__img {
  max-width: 600px;
}
.area-input {
  width: 100%;
  height: 175px;
  background: url("../images/bg-shorten-desktop.svg") no-repeat center;
  background-size: cover;
  background-color: #3a3053;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.action {
  text-align: center;
  width: 100%;
  position: relative;
}

.action__input {
  border-radius: 7px;
  padding-left: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 750px;
  height: 45px;
}
.action__input_error {
  border: 1px solid rgb(175, 49, 49);
  color: red;
}
.action__input_error::placeholder {
  color: rgb(175, 49, 49);
}
.action__button {
  border-radius: 5px;
  padding: 13px 20px;
  margin-left: 20px;
}
.action__button_error {
  opacity: 0.7;
  cursor: auto;
  border: 1px solid rgb(175, 49, 49);
}
.action__error {
  position: absolute;
  top: 50px;
  left: 170px;
  color: rgb(175, 49, 49);
  display: none;
}
.items-short {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}
.short-link {
  border-radius: 10px;
  display: flex;
  background-color: white;
  padding: 0px 16px;
  justify-content: space-between;
  margin-bottom: 15px;
}
.result {
  display: flex;
  justify-content: space-between;
  width: 250px;
  align-items: center;
}
.result__link {
  color: #64bcbd;
}
.result__btn {
  width: 80px;
  height: 40px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.result__btn::after {
  content: "Copy";
  position: absolute;
  width: 77px;
  border-radius: 10px;
  height: 28px;
  color: #64bcbd;
  padding-top: 10px;
  background-color: white;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
  border: 1px solid #64bcbd;
  transform: scaleX(0);
  transform-origin: right;
}
.result__btn:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.short-link__text {
  font-size: 20px;
  font-weight: 400;
}

.section-header {
  max-width: 500px;
  margin: 40px auto 80px auto;
  text-align: center;
}
.section-header__head {
  font-size: 30px;
  margin-bottom: 0px;
  font-weight: bold;
}

.section-header__text {
  color: #a3a0a9;
  line-height: 25px;
  font-size: 18px;
  margin-top: 10px;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  background: white;
  width: 30%;
  padding: 50px 25px 10px 25px;
  position: relative;
  box-sizing: border-box;
  height: 230px;
}
.card__img {
  position: absolute;
  top: -30px;
  background-color: #3a3053;
  padding: 15px;
  border-radius: 50%;
}
.card__head {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.card__text {
  font-size: 16px;
}
.card:nth-child(2) {
  margin-top: 40px;
}
.card:nth-child(3) {
  margin-top: 80px;
}

.card::after {
  content: "";
  border: 4px solid #9be3e2;
  position: absolute;
  width: 100px;
  top: 120px;
  right: -107px;
}
.card:nth-child(3)::after {
  border: none;
}
.boost {
  background: url("../images/bg-shorten-desktop.svg") no-repeat center;
  background-size: cover;
  background-color: #3a3053;
  padding: 50px 0;
  margin-top: 100px;
}
.click {
  text-align: center;
}
.click__head {
  font-size: 30px;
  color: white;
}
.boost__btn {
  width: 200px;
}
.footer {
  background-color: #121115;
}
.footer-nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.wrap-footer {
  color: white;
  align-items: center;
}
.footer-items {
  list-style: none;
}
.footer-item {
  margin-bottom: 5px;
}
.footer-item__head {
  font-size: 16px;
}
.footer-item__link {
  color: #cacaca;
  text-decoration: none;
}
.footer-item__link:hover {
  color: white;
}
